<div class="container">
	<div class="row">
		<div class="col-6 m-auto">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Home</a>
        <a class="nav-item nav-link" routerLink="/students" routerLinkActive="active">Students</a>
        <a class="nav-item nav-link" routerLink="/classrooms" routerLinkActive="active">Class Rooms</a>
        <a class="nav-item nav-link disabled" routerLink="/teachers" routerLinkActive="active">Teachers</a>
      </nav>
    </div>
	</div>

  <div class="row mt-5">
    <div class="col-6 m-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>