<div class="container">
	<div class="row">
		<div class="col-4">
      <h5 class="text-info">Student Details are:-</h5>
        <div class="list-group">
          <a
            [routerLink]="['/students', student.id]"
            href="#"
            class="list-group-item"
            *ngFor="let student of students">
            {{ student.name }}
          </a>
      </div>
    </div>

    <div class="col-4">
      <h5 class="text-info">Student Details are:-</h5>
        <div class="list-group">
          <a
            [routerLink]="['/students', student.id]"
            href="#"
            class="list-group-item"
            *ngFor="let student of students">
            {{ student.name }}
          </a>
      </div>
    </div>
	</div>
</div>